<p id="notice"><%= notice %></p>

<h1>Listing Hmacs</h1>


<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>

  <p>Voor een nieuw voorbeeld rond hmac kan u op deze link klikken</p>
  <%= link_to 'New Hmac', controller: :hmacs, action: :new %>
  </tbody>
</table>

<br>


