<p id="notice"><%= notice %></p>

<h1>De beste persoon van het jaar wedstrijd!!!</h1>

<table>
  <thead>
  <tr>
    <td>Persoon</td>
    <td>Stemmen</td>
  </tr>
  </thead>

  <tbody>
  <tr>
  <% @csrfattacks.each do |csrfattack| %>
        <td><%= csrfattack.professor %></td>
        <td><%= csrfattack.vote %></td>
  <% end %>
   </tr>
  </tbody>
</table>

<br>

