<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Welkom bij het startscherm van de opdracht gemaakt door: Tom Nys</h1>
    <p>Voor de opdracht rond dom0 kan u naar de static html gaan die bij in de mail is geleverd "dom0 Example.html"</p>
    <p>Voor CSRF opent u eerst de html-pagina "volledig veilige site.html", daarna kan u met onderstaande link het resultaat bekijken</p>
    <%= link_to "Link naar CSRF", csrfattacks_path %>
</body>
</html>